@model RetroLogger3000.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Year)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Year)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Rank)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Rank)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Clean)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Clean)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Complete)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Complete)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Beaten)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Beaten)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Duplicate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Duplicate)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
