@*@model IEnumerable<RetroLogger3000.Models.Game>*@

@model PagedList.IPagedList<RetroLogger3000.Models.Game>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Games";
}

<h2>Catalog</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Game", FormMethod.Get))
{
	<p>
		Find by title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
		<input type="submit" value="Search" />
	</p>
}
<table class="table">
	<tr>
		<th>
			@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Rank", "Index", new { sortOrder = ViewBag.RankSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Clean", "Index", new { sortOrder = ViewBag.CleanSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Complete", "Index", new { sortOrder = ViewBag.CompleteSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Beaten", "Index", new { sortOrder = ViewBag.BeatenSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Duplicate", "Index", new { sortOrder = ViewBag.DuplicateSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Year)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rank)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Clean)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Complete)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Beaten)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Duplicate)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
				@Html.ActionLink("Details", "Details", new { id = item.ID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.ID })
			</td>
		</tr>
	}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
